#vaporeon { 
    height: 300px;
}
#jolteon {
    height: 300px;
}
body {
  background-image: url("https://yousillymommy.files.wordpress.com/2016/08/pokemon-ball-colors-simple-background-1440x900.png");
}
.button {
    border: dotted;
    color: pink;
    
}